<div id="loc-data" hidden>
    <span data-key="correct">@Localizer["Correct!"]</span>
    <span data-key="wrong">@Localizer["Wrong."]</span>
    <span data-key="question-template">@Localizer["What is the (0) of the note above?"]</span>
    <span data-key="int-m2">@Localizer["Minor Second"]</span>
    <span data-key="int-maj2">@Localizer["Major Second"]</span>
    <span data-key="int-m3">@Localizer["Minor Third"]</span>
    <span data-key="int-maj3">@Localizer["Major Third"]</span>
    <span data-key="int-p4">@Localizer["Perfect Fourth"]</span>
    <span data-key="int-a4">@Localizer["Augmented Fourth"]</span>
    <span data-key="int-d5">@Localizer["Diminished Fifth"]</span>
    <span data-key="int-p5">@Localizer["Perfect Fifth"]</span>
    <span data-key="int-a5">@Localizer["Augmented Fifth"]</span>
    <span data-key="int-m6">@Localizer["Minor Sixth"]</span>
    <span data-key="int-maj6">@Localizer["Major Sixth"]</span>
    <span data-key="int-m7">@Localizer["Minor Seventh"]</span>
    <span data-key="int-maj7">@Localizer["Major Seventh"]</span>
</div>

<div class="container-fluid py-4">
    <div class="row g-4 justify-content-center">
        <div class="col-lg-4">
            <h1 id="questionLabel"></h1>
        </div>
        <div class="col-lg-7">

            <div id="question-staff-container"
                 class="d-flex flex-column flex-md-row align-items-center gap-3 flex-wrap">
            </div>
        </div>
    </div>

    <div class="row g-4 justify-content-center mb-4">
        <h1>@Localizer["Select Answer"]</h1>
    </div>

    <div class="row g-4 justify-content-center">
        <div class="col-lg-4">
            <div id="staff-answer1-container"
                 class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 flex-wrap exam-answer">
            </div>
        </div>
        <div class="col-lg-4">
            <div id="staff-answer2-container"
                 class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 flex-wrap exam-answer">
            </div>
        </div>
        <div class="col-lg-4">
            <div id="staff-answer3-container"
                 class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 flex-wrap exam-answer">
            </div>
        </div>
    </div>
</div>


@* ReSharper disable once Razor.SectionNotResolved *@

@section scripts {
    <script type="module" src="~/dist/scripts/musicStaff.js" asp-append-version="true"></script>
    <script type="module" src="~/dist/scripts/intervalExam.js" asp-append-version="true"></script>

    <script>
        window.addEventListener('load', () => {
             window.startIntervalExam('question-staff-container', ['staff-answer1-container', 'staff-answer2-container', 'staff-answer3-container'], 'questionLabel');
        });
    </script>
}

@* ReSharper disable once Razor.SectionNotResolved *@

@section styles {
    <link rel="stylesheet" href="~/styles/site.css" asp-append-version="true"></link>

    <style>
        .exam-answer {
            padding: 1rem;
            border: 1px solid #ddd;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }

        .exam-answer:hover {
            background-color: #f8f9fa;
            border-color: #0d6efd;
            transform: translateY(-2px);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        }
    </style>
}
