@{
    ViewData["Title"] = @Localizer["Interval Calculator"];
}

<div id="loc-data" hidden>
    <span data-key="perfect-unison">@Localizer["Perfect Unison"]</span>
    <span data-key="minor-second">@Localizer["Minor Second"]</span>
    <span data-key="major-second">@Localizer["Major Second"]</span>
    <span data-key="minor-third">@Localizer["Minor Third"]</span>
    <span data-key="major-third">@Localizer["Major Third"]</span>
    <span data-key="perfect-fourth">@Localizer["Perfect Fourth"]</span>
    <span data-key="augmented-fourth">@Localizer["Augmented Fourth"]</span>
    <span data-key="perfect-fifth">@Localizer["Perfect Fifth"]</span>
    <span data-key="minor-sixth">@Localizer["Minor Sixth"]</span>
    <span data-key="major-sixth">@Localizer["Major Sixth"]</span>
    <span data-key="minor-seventh">@Localizer["Minor Seventh"]</span>
    <span data-key="major-seventh">@Localizer["Major Seventh"]</span>
    <span data-key="perfect-octave">@Localizer["Perfect Octave"]</span>

    <span data-key="minor-ninth">@Localizer["Minor Ninth"]</span>
    <span data-key="major-ninth">@Localizer["Major Ninth"]</span>
    <span data-key="minor-tenth">@Localizer["Minor Tenth"]</span>
    <span data-key="major-tenth">@Localizer["Major Tenth"]</span>
    <span data-key="perfect-eleventh">@Localizer["Perfect Eleventh"]</span>
    <span data-key="augmented-eleventh">@Localizer["Augmented Eleventh"]</span>
    <span data-key="perfect-twelfth">@Localizer["Perfect Twelfth"]</span>
    <span data-key="minor-thirteenth">@Localizer["Minor Thirteenth"]</span>
    <span data-key="major-thirteenth">@Localizer["Major Thirteenth"]</span>
    <span data-key="minor-fourteenth">@Localizer["Minor Fourteenth"]</span>
    <span data-key="major-fourteenth">@Localizer["Major Fourteenth"]</span>

    <span data-key="perfect-fifteenth">@Localizer["Perfect Fifteenth"]</span>
    <span data-key="minor-sixteenth">@Localizer["Minor Sixteenth"]</span>
    <span data-key="major-sixteenth">@Localizer["Major Sixteenth"]</span>
    <span data-key="minor-seventeenth">@Localizer["Minor Seventeenth"]</span>
    <span data-key="major-seventeenth">@Localizer["Major Seventeenth"]</span>
    <span data-key="perfect-eighteenth">@Localizer["Perfect Eighteenth"]</span>
    <span data-key="augmented-eighteenth">@Localizer["Augmented Eighteenth"]</span>
    <span data-key="perfect-nineteenth">@Localizer["Perfect Nineteenth"]</span>
    <span data-key="minor-twentieth">@Localizer["Minor Twentieth"]</span>
    <span data-key="major-twentieth">@Localizer["Major Twentieth"]</span>
    <span data-key="minor-twenty-first">@Localizer["Minor Twenty-First"]</span>
    <span data-key="major-twenty-first">@Localizer["Major Twenty-First"]</span>
    <span data-key="perfect-twenty-second">@Localizer["Perfect Twenty-Second"]</span>

    <span data-key="unable-to-recognize-note-name">@Localizer["Unable to recognize note name"]</span>
    <span data-key="please-iput-with-the-lower-note-first">@Localizer["Please input with the lower note first"]</span>

    <span data-key="consonance-perfect">@Localizer["Perfect Consonance"]</span>
    <span data-key="consonance-imperfect">@Localizer["Imperfect Consonance"]</span>
    <span data-key="consonance-dissonance">@Localizer["Dissonance"]</span>
    <span data-key="consonance-sharp-dissonance">@Localizer["Sharp Dissonance"]</span>
    <span data-key="approximate-ratio">@Localizer["Approximate Ratio"]</span>
    <span data-key="precise-ratio">@Localizer["Precise Ratio"]</span>
</div>


<div class="container-fluid py-4">
    <div class="row g-4 justify-content-center">

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">@Localizer["Interval Calculator"]</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">@Localizer["How to Use"]</h6>
                    <ol class="mb-0 small">
                        <li>@Localizer["Click any two keys on the piano below."]</li>
                        <li>@Localizer["The first note you select will be the root."]</li>
                        <li>@Localizer["The interval between the two notes will be calculated and displayed."]</li>
                        <li>@Localizer["Click a selected key again to deselect it."]</li>
                    </ol>
                </div>
                <hr class="my-0">
                <div class="card-body text-center">
                    <h6 class="card-subtitle mt-2 mb-2 text-muted">@Localizer["Result"]</h6>

                    <div class="d-flex justify-content-center align-items-center gap-3">
                        <span class="h4 fw-bold" id="interval-1">--</span>
                        <span class="text-muted">@Localizer["to"]</span>
                        <span class="h4 fw-bold" id="interval-2">--</span>
                    </div>

                    <div class="h3 fw-bold text-primary mt-3" id="interval-result" style="min-height: 2.5rem;">
                    </div>

                    <div class="h4 fw-bold text-info" id="interval-consonance" style="min-height: 2rem;">
                    </div>

                    <div class="h5" id="interval-ratio" style="min-height: 2rem;">
                    </div>
                    <div class="small text-muted" id="interval-error">
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">@Localizer["Interactive Piano"]</h5>
                </div>
                <div class="card-body">

                    <div class="d-flex">
                        <button class="btn btn-sm btn-outline-secondary" id="reset-interval-btn">
                            <i class="align-middle" data-lucide="refresh-cw"></i>
                            @Localizer["Reset Selection"]
                        </button>
                    </div>
                    <div class="piano-container table-responsive">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@* ReSharper disable once Razor.SectionNotResolved *@

@section styles {
    <link rel="stylesheet" href="~/styles/site.css" asp-append-version="true"/>
}

@* ReSharper disable once Razor.SectionNotResolved *@

@section scripts {
    <script type="module" src="~/dist/scripts/interval.js" asp-append-version="true"></script>
}
